.cardContainer{
  display: flex;
  padding-top: 5px;
  justify-content: space-around;
  height: 185px;
}
.card{
  display: flex;
  flex-direction: column;
  width: 30%;
  max-height: 80%;
}
.cardImage{
  height: 80%;
  width: 100%;
}
.cardText{
  height: 20%;
}